@import "./toastr";
.mar-bot-20 {
  margin-bottom: 20px;
}
.mar-left-auto {
  margin-left: auto;
}

.pad-15 {
  padding: 15px;
}

.err-msg {
  margin: 0 10px;
  font-size: 15px;
  color:red;
}

.back-to-main {
  bottom: 0;
  margin: 0 30px;
}
